body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    background-image: url("/client/img/university-blood.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-game {
    /* The image used */
    background-color: #FF4136;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  .login-box {
    background-color: #FF4136;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }